/* =================
   全体
================= */

body {
  margin: 0;
  min-height: 100vh;
  background:
  linear-gradient(
    135deg,
    #1e293b,
    #1e293b,
    #020617
  );

  color: white;
  font-family: sans-serif;

  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}


/* =================
   studyエリア
================= */

#study-area {
  width:  90%;   
  gap: 40px;
  
    display:grid;
    grid-template-columns:auto 1fr auto;

}



/* =================
   ナビバー
================= */

#nav-bar {
  width: 100%;
  max-width: 768px;
  padding: 14px 24px;
  margin: 0 auto;   
}

#nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#deck-name {  
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #d4b483 ;
  font-family: Cinzel, Cormorant Garamond;
}

#back-btn {
  border: none;
  background: transparent;
  border:none;
  box-shadow: none;
  color: #c0c0c0;

  font-size: 1rem;
  cursor: pointer;

  backdrop-filter: blur(10px);
  border-radius: 999px;
  padding: 8px 16px;
  
  transition:
    background 0.2s,
    transform 0.2s;
}

#card-counter {
  font-size: 1.1rem;
  opacity: 0.8;
}

/* =================
   カード
================= */

#card-container {
  display: flex;  
  justify-content: center;
  
  width: 100%;
  max-width: 720px;
  aspect-ratio: 3/2;

  margin: 24px auto 0;
  overflow: visible;
  perspective: 1000px;
}

#card-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.5);
}

#card-display {
  width: 100%;  
  height: 100%;
  border: 3px soid blue !important;
  border:none;
  border-radius: 24px;
  /*overflow: hidden;*/


  font-size: 2.5rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  text-align: center;

  cursor:pointer; 
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);

  transition:
    transform 0.6s,
    box-shadow 0.2s; 
  transform-style: preserve-3d;
}

#card-display.flipped {
  transform: rotateY(180deg);
}


/*カード面表側*/
#front-area { 
  background-image: url(images/background_img_front.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden; 
  
}

/*カード面裏側*/
#back-area {      
  background-image: url(images/background_img_reverse.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
  backface-visibility: hidden; 
}

/*カード面共通事項*/
.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 24px;

}


/*カードの内容表示面*/
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 40px;
}


#word {  
  font-size: 1.5em;
  font-weight: 700;
  color: #333;
  letter-spacing: 0.05em;
  margin-bottom: 1.5rem;
  text-align: center;
  margin-bottom:1.5em;
  text-shadow:
    0 1px 2px rgba(255,255,255,.4);
}

#phonetics {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.audio-btn {  
  background:transparent;  
  border: 1px solid #d4b483;
  border-radius: 999px;
  padding: 0.3rem;
  cursor: pointer;

  font-size: 1rem;
  font-style: italic;
  opacity: 0.75;
}

.audio-btn:hover {
  background: #f5f5f5;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.audio-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.phonetic-text {
  font-size: 1rem;
  font-style: italic;
  opacity: 0.75;
}

#meaning-navigation {
  display:flex;
  gap: 1em;

  font-size: 0.6em;
  min-width:2rem;
}

#meaning-page {
  font-size: 0.75rem;
  font-weight: normal;
  color: #333;
  opacity: 0.75;
  letter-spacing: 0.05em;
  margin-top: -0.25rem;
}

#definitions-wrapper {
  position: relative;
}

/*definition下部の白い帯*/
#definitions-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 3rem;
  
  pointer-events: none;
  transition: opacity .25s;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0),
    rgba(255,255,255,1)
  );
}


.hide-fade::after {
  opacity: 0;
}

#definitions {
  
  white-space: normal;
  overflow-wrap: break-word;
  font-size: 1rem;
  max-height: 14.5rem;
  /*overflow:hidden;*/
  scrollbar-width:none;
  -ms-overflow-style:none;

  overflow-y: auto;
  padding-bottom: 1rem;
}

#definitions::-webkit-scrollbar {
  display:none;
}

/* =================
   コントロール
================= */

.control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.controls {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  aspect-ratio: 1/1;
  font-size:2.4rem;
  padding: 0;

  border: none;
  background: transparent;
  border:none;
  box-shadow: none;
  color: #c0c0c0;

  font-size:3rem;
  cursor: pointer;

  backdrop-filter: blur(10px);
  border-radius: 50%;
  
  transition: all .2s;
}

.controls:hover,
#back-btn:hover {
  color: #ffe082;
  text-shadow: 0 0 8px rgba(255,224,130,.8);
  transform: scale(1.15) translateY(-3px);
}


/*prev/nextボタンのアクティブ・非アクティブの視覚化クラス*/

.disabled-arrow {
  color: #9ca3af;
  opacity: 0.35;
  transform: scale(0.95);
  cursor: default;
}

.hidden {
  display: none;
}