body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #1e293b;
}

.scene {
  width: 480px;
  height: 250px;
  perspective: 1000px;/*persepectiveは視点の意味*/
}

.card {
  width: 100%;
  height: 100%;

  position: relative;
  
  transform-style:preserve-3d;/*変形ルール：内包要素の立体構造を保つ*/
  transition: transform .6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;  
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.front {
  background: royalblue;
}

.back {
  transform:rotateY(180deg);

  background:crimson;
}
